package examples

import "github.com/HumamAlhusaini/active-search/internal/views/components"

// example
templ SkeletonExample() {
	<div class="max-w-xs mx-auto pt-4">
		@components.Skeleton()
	</div>
}